#root {
  height: 100%;
}

#app {
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

#app-header {
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: white;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

#menu-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  margin: 10px;
}

#current-page {
  margin: 0;
  float: left;
}

#app-body {
  height: calc(100% - 50px);
  background-color: #222222;

  display: flex;
  justify-content: center;
}
