.blue {
    background-color: #016FB9;
    color: white;
}

.purple {
    background-color: #541388;
    color: white;
}

.red {
    background-color: #A71D31;
    color: white;
}

.dark {
    background-color: #222222;
    color: white;
}

.light {
    background-color: #4A483F;
    color: white;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}
