div.collector {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.collector {
  padding: 5px 5px;
  margin: 10px 0px;
  min-width: 180px;
  border: none;
}

p.collector {
  color: gray;
}